<h1>{{title}}<sup>{{#link-to 'entry.edit'}}edit{{/link-to}}</sup></h1>
<p>{{markdown-to-html body}}</p>

details:
<br>
id: {{id}}
<br>
_id: {{_id}}
<br>
created: {{created}}
<br>
modified: {{modified}}
<br>
tags: {{tags}}
<br>
