<div class="row">
  <div class="col-xs-12">
    <h1>{{title}}</h1>

    <hr />

    <form>
      <div class="form-group">
        {{input type="text" class="form-control" value=title placeholder="Title"}}

      </div>

      <div class="form-group">
        {{textarea value=body class="form-control" rows="10" placeholder="Body"}}

      </div>

      <div class="form-group">
        <div class="input-group">
          {{input value=tags type="text" class="form-control input-sm" placeholder="Tags"}}

          <span class="input-group-btn">
            <button class="btn btn-default input-sm" type="button" {{action "save"}}>Submit</button>

          </span>
        </div>
      </div>

      <div class="col-xs-12 body-text">
        {{body}}
      </div>

    </form>
  </div>
</div>
