<div class="back-button">
  {{#link-to 'index'}} <i class="fa fa-angle-double-left"></i> back {{/link-to}}
</div>

<h1 class="entry-index-title">{{title}}</h1>

<div class='body'>
  {{markdown-to-html body}}
</div>

<hr />

<form>
  <div class="form-group">
    {{input type="text" class="form-control" value=title placeholder="Title"}}
  </div>

  <div class="form-group">
    {{textarea value=body class="form-control" rows="10" placeholder="Body"}}
  </div>

  <div class="form-group">
    <div class="input-group">
      {{input value=tags type="text" class="form-control input-sm" placeholder="Tags"}}

      <span class="input-group-btn">
        <button type="button" {{bind-attr class=':btn :input-sm isDraft:btn-success:btn-danger isDraft::striked'}} {{action "toggleDraft"}}>isDraft</button>
        <button type="button" class="btn btn-warning input-sm" {{action "tempSave"}}>Save</button>
        <button class="btn btn-primary input-sm" type="button" {{action "save"}}>Submit</button>
      </span>
    </div>
    <br>
    <div id="col-xs-12 tempSave text-right">
      {{#if saved}}
      <span class="text-success">Saved, {{saved}}</span>
      {{/if}}
    </div>
    <div id="error">
      {{#if error}}
      <h4 class="text-danger">{{error}}</h4>
      {{/if}}
    </div>
  </div>
</form>
