<div class="entry-listing row" {{bind-attr class="entry.deleteToggle:bg-danger"}}>
  <div class="col-xs-12 text-left">
    <span class="entry-title">

      {{#link-to 'entry' entry}}
        {{entry.title}}
      {{/link-to}}

    </span>
    <span class="entry-timestamp">({{calendar-time entry.modified}})</span>

    {{#if session.isAuthenticated}}

      {{#link-to 'entry.edit' entry class='text-primary'}}edit{{/link-to}}
      /

      {{#if entry.deleteToggle}}

        <a href='' class='text-warning' {{action 'toggleDelete'}}>cancel</a>
        /
        <a href='' class='text-danger' {{action 'delete'}}>sure?</a>

      {{else}}

        <a href='' class='text-danger' {{action 'toggleDelete'}}>delete</a>

      {{/if}}

    {{/if}}

  </div>
</div>
